<div class="metric-box">
  <div class="mb-4 display-flex justify-content-between align-items-center">
    <ng-content select="[icon]"></ng-content>

    <span class="metric-box-title">{{title}}</span>
    <span class="metric-box-count">{{count}}</span>
  </div>

  <hr>

  <div class="metric-box-footer display-flex justify-content-between">
    <div class="metric-box-footer-left">
      <ng-content></ng-content>
    </div>
    <div class="metric-box-footer-right">
      <div class="metric-text"><span class="count">{{count}}+</span> more</div>
      <p class="metric-text">from last week</p>
    </div>
  </div>
</div>
