<div class="main">
  <todo-sidebar></todo-sidebar>

  <div class="wrapper">
    <todo-header></todo-header>

    <div class="content">
      <div class="left-content">
        <todo-metric-widget></todo-metric-widget>

        <div class="mt-4">
          <todo-my-line-chart></todo-my-line-chart>
        </div>

        <div class="mt-4">
          <todo-tasks></todo-tasks>
        </div>
      </div>

      <div class="right-content">
        <todo-task-form></todo-task-form>
        <hr>

        <div class="title-20 mt-3 mb-18">Messages</div>
        <todo-message-tile image="assets/images/user1.png" name="Chris Webber" message="Hi Michael! How are You?"></todo-message-tile>
        <todo-message-tile image="assets/images/user2.png" name="Kelvin Durant" message="Do you need that design?"></todo-message-tile>
      </div>
    </div>
  </div>
</div>
