$primary: #005555;
$secondary: #F8B400;
$text-color: #768396;
$white: #FFFFFF;
$body-color: #F3F4F8;
$sidebar-color: #FBFAFF;
$action-bg: #F4F4F4;
$form-input-bg: #E8EDF1;
$placeholder-color: #738383;
$badge-color: #4BA8A8;
$search-input-bg: #F3F7FA;
$metric-title-color: #8C97A8;
$metric-count-color: #1E1E1E;
$metric-count1-color: #299702;

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}
